*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-image: url(../image/background.jpeg);
    background-size: cover;
}
.main{
    margin: auto;
    height: 500px;
    width: 350px;
}
.question{
    display: block;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 250px;
    text-align: center;
    font-weight: bolder;
}
.detail{
    text-align: center;
    margin-top: 20px;
}

.wrapper-question-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.question-button{
    text-decoration: none;
    display: block;
    width: 150px;
    height: 45px;
    background-color: white;
    float: left;
    text-align: center;
    line-height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    transition: 0.4s;
}

.question-button:hover{
    background-color: #9c1421;
    color: white;
    transition: 0.4s;
}